
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background-color: whitesmoke;

}

/* .navbar {
    background-color: #1F2933;
} */

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

/* .custom-toggler {
    border-color: whitesmoke;
    color: whitesmoke;
} */

.logoMain {
    margin: auto;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
}
