
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background-color: whitesmoke;

}

.navbar {
    background-color: #1F2933;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.jumbo {
    background: rgb(83,112,140);
    background: linear-gradient(0deg, rgba(83,112,140,0.8421743697478992) 0%, rgba(0,10,54,0.8897934173669468) 100%);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.logoMain {
    width: 450px;
    margin: auto;
}

.card {
    width: 18rem;
    margin-left: 20px;
    margin-right: 20px;
}
